// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'bootstrap-overwrites';
@import 'bootstrap-additions';

// Photoswipe
@import '~photoswipe/src/css/main';
@import '~photoswipe/src/css/default-skin/default-skin';

// tagify (copied from node_modules b/c no defaults on vars?
@import 'vendor/tagify';

@import 'vendor/leaflet';
@import 'vendor/L.Control.Locate';
@import 'vendor/MarkerCluster';
@import 'vendor/MarkerCluster.Default';

// DataTables
@import 'vendor/dataTables.bootstrap4.min';


// Modules
@import 'modules/icon';
@import 'modules/thumbgallery';
@import 'modules/map';
@import 'modules/contentheader';

.navbar-laravel {
    border-bottom: 1px solid $border-color;
}

@media (min-width: 768px) {
    .navbar-laravel {
        // navbar elements have .5rem padding (8px), we use 7px here to
        // get the normal gutter width.
        padding-left: 7px;
        padding-right: 7px;
    }
}


blockquote {
    border-left: 5px solid #ddd;
    padding-left: 5px;
    font-style: italic;
}

.custom-color-marker {
    margin-left: -14px;
    margin-top: -41px;
    width: 28px;
    height: 41px;
}

.custom-color-marker {

    &--highlighted {
        circle {
            fill: yellow;
        }
    }
}


.leaflet-popup-content {
    margin: .5rem .75rem;

    hr {
        margin-top: .75rem;
        margin-bottom: .5rem;

        margin-left: -0.8rem;
        margin-right: -0.8rem;
    }
}

.leaflet-popup-close-button {
    right: 2px;
}
