// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Photoswipe
@import '~photoswipe/src/css/main';
@import '~photoswipe/src/css/default-skin/default-skin';

// tagify (copied from node_modules b/c no defaults on vars?
@import 'vendor/tagify';

@import 'vendor/leaflet';
@import 'vendor/L.Control.Locate';
@import 'vendor/MarkerCluster';
@import 'vendor/MarkerCluster.Default';

// DataTables
@import 'vendor/dataTables.bootstrap4.min';


// Modules
@import 'modules/thumbgallery';
@import 'modules/map';
@import 'modules/contentheader';

.navbar-laravel {
    border-bottom: 1px solid $border-color;
}

.btn-dropdown-add {
    border-color: $border-color;
}

blockquote {
    border-left: 5px solid #ddd;
    padding-left: 5px;
    font-style: italic;
}

.custom-color-marker {
    margin-left: -14px;
    margin-top: -41px;
    width: 28px;
    height: 41px;
}
