.icon {
    &--currentColor {
        fill: currentColor;
    }
}

.btn {
    .icon {
        fill: currentColor;
        width: 16px;
        height: 16px;
        margin-top: -1px;
    }
}

.btn-xs {
    .icon {
        width: 12px;
        height: 12px;
    }
}
